<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<h3 align="center" style="color: blue"><a href="/employee/create">Create new employee</a></h3>
<table align="center" border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Contact Number</th>
    </tr>
    <th:block th:each="e:${employeeList}">
        <tr>
            <td th:text="${e.id}"></td>
            <td th:text="${e.name}"></td>
            <td th:text="${e.contactNumber}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>